.jp-ReactWidget {
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.dog-image-container {
    display: flex;
    flex-direction: column;
}

.dog-image-container img {
    max-height: 250px;
}

.syapse-dog-viewer .dog-image-container > img {
    max-height: 625px;
}